// colors

$dark-color :#30475e; //background
$light-color :#ececec;  //cards
$background-color : #222831; //navbar
$yellowgreen-color : yellowgreen; // Yellow Green
$white-color : #ffffff; // White

// FONT WEIGHTS

$font-weights : (
  "regular" : 400,
  "medium" : 500,
  "bold" : 700,
);

// Break Points

$mobile : 450px;
$tablet : 1024px;
