*{
  margin: 0;
  padding: 0;
  background-color: #222831;
}

.App{
  margin: 0;
  width: 100%;
}

.container{
  width: 100%;
  display: block;
  margin: auto;
}
.row{
  width: 88%;
  margin: 1em auto;
  justify-content:center;
  align-items: center;
  -ms-overflow-style: none;
}

.movie-item{
  position: relative;
  margin: 1em 1em;
  background-color: #ececec;
  height: 400px;
  width: 235px;
  cursor: pointer;
  box-shadow: 0 3 6px #ffffff;
  display: inline-grid;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.movie-item::before{
  content:"";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 6 17px #222831;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.movie-item:hover{
  transform: scale(1.05);
  z-index: 5;
}
.movie-item:hover::before{
  opacity: 1;
}

.movie-item h2{
  background-color: #ececec;
  margin: 0 1em 0 1em;
  color:#222831;
  font-size: 1rem;
}
.movie-item img{
  width: 200px;
  height: 300px;
  margin: 1em;
}

.slick-slider{
  margin:100px auto 0.5em auto;
  width: 90vw;
}

.slider img{
  border-radius: 0.2em;
  width: 90%;
  height: 250px;
  margin:auto;
  object-fit: cover;
}
.slider img:hover{
  transform: scale(1.02);
  transition: all 0.2s ease;
}

.slick-prev{
  margin-left: 50px;
  z-index: 5;
}

.slick-next{
  margin-right: 50px;
  z-index: 5;
}
.slick-list{
  overflow: hidden;
}

.navbar{
  height:80px;
  background-color: #30475e;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
}
.navbar h1{
  color: #fff;
  background-color: #30475e;
}

.navbar input {
  height: 50px;
  margin: auto;
  border: none;
  padding: 0 0.5em;
  font-size:1.2rem;
  width: 70%;
  color: #ececec;
}

.navbar input:active{
  outline:none;
}

.movie_data{
  margin-top:100px;
}


.container{
  width: 90%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container_home{
  flex-direction: column;
}

/* details page */

.container_details{
  height:100vh;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.details {
  width: 90%;
  display: flex;
  justify-content:center;
  align-items:center;
  height: 70vh;
}


.details_img{
  width: 30%;
  text-align:center;
}
.details_img img{
  width: 75%;
  margin: auto;
}

.details_info{
  padding: 0 0 0 1em;
  border-left: 3px solid yellowgreen;
  height: 100%;
  align-items: center;
  width: 70%;
  margin: auto auto auto 2em;
}

.details_info h1{
  margin-top:2em;
  color: white;
  font-size: 3rem;
}
.info_title{
  color: yellowgreen;
}
.details_info p{
  margin-top:0.5em;
  color: white;
  font-size: 1rem;
}
.details_info h3{
  margin-top:0.5em;
  color: white;
  font-size: 1.2rem;
}
.details_info h2{
  margin-top:0.5em;
  color: white;
}

.details_info button{
  border-radius: 0.25em;
  border: none;
  height: 40px;
  margin-top: 2em;
  color: white;
  width: 200px;
  background-color: yellowgreen;
  color: #30475e;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}
.details_info button:hover{
transform: scale(1.02);
}

.details_info button a{
  font-size: 1.2rem;
  font-weight: 600;
}