*{
  margin: 0;
  padding: 0;
  /* background-color:#30475e; */
  background-color: #222831;
}

.App{
  margin: 0;
  width: 100%;
}


::-webkit-scrollbar {
  display:none;
}
.container{
  width: 100%;
  display: block;
}
.row{
  width: 95%;
  margin: 1em auto;
  justify-content:center;
  align-items: center;
  -ms-overflow-style: none;
}

.movie-item{
  position: relative;
  margin: 1em 1em;
  background-color: #ececec;
  /* background-color: #222831; */
  /* background-color:#30475e; */
  height: 400px;
  width: 235px;
  cursor: pointer;
  /* box-shadow: 0 3 6px #222831; */
  box-shadow: 0 3 6px #ffffff;
  display: inline-grid;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.movie-item::before{
  content:"";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 6 17px #222831;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.movie-item:hover{
  transform: scale(1.05);
  z-index: 5;
}
.movie-item:hover::before{
  opacity: 1;
}

.movie-item h2{
  background-color: #ececec;
  margin: 0 1em 0 1em;
  color:#222831;
  font-size: 1rem;
}
.movie-item img{
  width: 200px;
  height: 300px;
  margin: 1em;
}

.slick-slider{
  margin:100px auto 0.5em auto;
  width: 90vw;
}

.slider img{
  border-radius: 0.2em;
  width: 90%;
  height: 250px;
  margin:auto;
  object-fit: cover;
}
.slider img:hover{
  transform: scale(1.02);
  transition: all 0.2s ease;
}

.slick-prev{
  margin-left: 50px;
  z-index: 5;
}

.slick-next{
  margin-right: 50px;
  z-index: 5;
}
.slick-list{
  overflow: hidden;
}

.navbar{
  height:80px;
  background-color: #30475e;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
}
.navbar h1{
  color: #fff;
  background-color: #30475e;
}

.navbar input {
  height: 50px;
  margin: auto;
  border: none;
  padding: 0 0.5em;
  font-size:1.2rem;
  width: 70%;
  color: #ececec;
}

.navbar input:active{
  outline:none;
}